In [3]:
import pandas as pd

In [15]:
file = "RoutesAndPassengers.xlsx"

In [17]:
x1 = pd.ExcelFile(file)

In [18]:
x1.sheet_names

['Routes', 'PassengersOnRoute']

In [19]:
a = x1.parse('PassengersOnRoute')

In [20]:
a.head()

,Date,Time,Day,Alka,Choumu Pulia,Panipech,Chandpole,Badi Chopad,Ramgunj
0,NaN,NaN,NaN,"[10,15,18]","[20,15,-18]","[5,-15,-18]","[-18,-15,-5]",NaN,NaN

In [22]:
a

,Date,Time,Day,Alka,Choumu Pulia,Panipech,Chandpole,Badi Chopad,Ramgunj
0,NaN,NaN,NaN,"[10,15,18]","[20,15,-18]","[5,-15,-18]","[-18,-15,-5]",NaN,NaN

In [65]:
def getDateTime():
    from datetime import datetime
    date = datetime.now()
    cd = str(date.day)+"-"+str(date.month)+"-"+str(date.year)
    time = str(date.hour)+":"+str(date.minute)+":"+str(date.second)
    day = date.strftime("%A")
    return cd, time, day

In [72]:
def getRandomDateTime():
    from datetime import datetime
    import random
    
    year = 2018
    month = 12
    day = random.randint(1,30)
    
    hr = random.randint(1,24)
    mi = random.randint(1,60)
    sec = random.randint(1,60)
    
    date = datetime(year, month, day, hr, mi, sec)
    cd = str(date.day)+"-"+str(date.month)+"-"+str(date.year)
    time = str(date.hour)+":"+str(date.minute)+":"+str(date.second)
    day = date.strftime("%A")
    return cd, time, day

In [74]:
date, time, day = getRandomDateTime()
print(str(date)+" "+str(time)+" "+str(day))

5-12-2018 14:28:49 Wednesday

In [75]:
date, time, day = getRandomDateTime()
print(str(date)+" "+str(time)+" "+str(day))

25-12-2018 10:50:38 Tuesday

In [ ]:
def passengerData(n):
    date, time, day = getRandomDateTime()
    ar = [][]
    for i in range(n):
        for i in range(n):

In [32]:
def nextDate(day, month, year,weekday, hour, minute, time_interval):
    
    if(time_interval>0):
        minute = minute+time_interval
        if(minute>=60):
            minute = minute % 60
            hour = hour + 1 
            
    if(hour>23):       
        hour = hour % 24
        
        if (year % 400 == 0):
            leap_year = True
        elif (year % 100 == 0):
            leap_year = False
        elif (year % 4 == 0):
            leap_year = True
        else:
            leap_year = False
        
        #month
        if month in (1, 3, 5, 7, 8, 10, 12):
            month_length = 31
        elif month == 2:
            if leap_year:
                month_length = 29
            else:
                month_length = 28
        else:
            month_length = 30

        #day
        if (day < month_length):
            day += 1
            hour = hour % 24
        else:
            day = 1
            if month == 12:
                month = 1
                year += 1
            else:
                month += 1
        #weekday
        days_of_week=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday']
        index = days_of_week.index(weekday)
        index= (index+1)%7
        weekday=days_of_week[index]
    return day, month, year, weekday , hour,minute

In [33]:
nextDate(31,12,1998,'Sunday', 3, 9, 6)

(31, 12, 1998, 'Sunday', 3, 15)

In [44]:
def printNextDate(day, month, year,weekday, hour, minute, time_interval):
    import random
    day, month, year, weekday, hour, minute = nextDate(day, month, year,weekday, hour, minute, time_interval)
    date = str(day)+"-"+str(month)+"-"+str(year)
    time = str(hour)+":"+str(minute)
    return date, weekday, time

In [45]:
printNextDate(31,12,1998,'Sunday', 3, 9, 6)

('31-12-1998', 'Sunday', '3:15')